{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">柱状图演示</div>
            <div class="panel-body">
                <div style="width: 100%; height: 240px" id="main"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">折线图演示</div>
                    <div class="panel-body">
                        <div style="width: 100%; height: 250px;" id="barMain"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">饼图演示</div>
                    <div class="panel-body">
                        <div style="width: 100%; height: 250px;" id="PeiMain"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            LineChart()  // 绘制折线图
            BarChart()  // 绘制柱状图
            PeiChart() // 绘制饼图
        })

        function LineChart() {
            // 绘制柱状图的代码
            let chartDom = document.getElementById('main');
            let myChart = echarts.init(chartDom);
            let option;
            option = {
                title: {
                    text: '月销量统计',
                },
                xAxis: {
                    type: 'category',
                    data: []
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: [],
                        type: 'line',
                        smooth: true
                    }
                ]
            };
            // 发送Ajax请求获取数据
            $.ajax({
                url: '/charts/line/',
                type: 'get',
                data: [],
                dataType: 'JSON',
                success: function (res) {
                    // 设置图表中的数据
                    option.title.text = res['title']
                    option.xAxis.data = res['x_axis']
                    option.series[0].data = res['series']
                    console.log(res)
                    myChart.setOption(option);
                }, error: function (err) {
                    console.log(err)
                }
            })

        }

        function BarChart() {
            let chartDom = document.getElementById('barMain');
            let myChart = echarts.init(chartDom);
            let option;
            const labelRight = {
                position: 'right'
            };
            option = {
                title: {
                    text: 'Bar Chart with Negative Value'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    top: 80,
                    bottom: 30
                },
                xAxis: {
                    type: 'value',
                    position: 'top',
                    splitLine: {
                        lineStyle: {
                            type: 'dashed'
                        }
                    }
                },
                yAxis: {
                    type: 'category',
                    axisLine: {show: false},
                    axisLabel: {show: false},
                    axisTick: {show: false},
                    splitLine: {show: false},
                    data: [],
                },
                series: [
                    {
                        name: 'Cost',
                        type: 'bar',
                        stack: 'Total',
                        label: {
                            show: true,
                            formatter: '{b}'
                        },
                        data: []
                    }
                ]
            };
            $.ajax({
                url: '/charts/bar/',
                type: 'get',
                data: [],
                dataType: 'JSON',
                success: function (res) {
                    // 设置柱状图
                    option.title.text = res['title']
                    option.yAxis.data = res['y_axis']
                    option.series[0].data = res['series']
                    // 显示图表
                    myChart.setOption(option);
                }, error: function (err) {
                    console.log(err)
                }
            })

        }

        function PeiChart() {

            let chartDom = document.getElementById('PeiMain');
            let myChart = echarts.init(chartDom);
            let option;

            option = {
                title: {
                    text: 'Referer of a Website',
                    subtext: 'Fake Data',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left'
                },
                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: '50%',
                        data: [],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            // 发送Ajax请求获取数据
            $.ajax({
                url: '/charts/pei/',
                type: 'get',
                data: [],
                dataType: 'JSON',
                success: function (res) {
                    // 设置图表中的数据
                    option.title.text = res['title']
                    option.series[0].data = res['series']
                    console.log(res)
                    myChart.setOption(option);
                }, error: function (err) {
                    console.log(err)
                }
            })
        }
    </script>
{% endblock %}